import { ComponentHarness } from '@angular/cdk/testing';

export class <%= className %>ComponentHarness extends ComponentHarness {
  static hostSelector = 'ui-<%= fileName %>';

  async getHostText(): Promise<string> {
    const host = await this.host();
    return host.text();
  }
}
